<!DOCTYPE html>
<html>

   <head>
      <title>TimeStamp Service</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
       <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
     <link href="/public/style.css" rel="stylesheet" type="text/css"> 
  </head>

   <body>
      <div class="container">
        <h1>API Basejump: Timestamp microservice</h1>
        <div class="well ham">
          User Stories:
          <ol>
            <li>
               I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural 
              language date (example: January 1, 2016)
            </li>
            <li>If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
            <li> If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
          </ol>
        </div>
        
        <div>
          <h3>
            Example usage:
          </h3>
            <p>
              https://timestamp-ms.herokuapp.com/December%2015,%202015<br>
              https://timestamp-ms.herokuapp.com/1450137600
            </p>
        
        </div>
        
      </div>
      
   </body>

</html>
