<!DOCTYPE html>
<html>

   <head>
      <title>BodyParser MicroService</title>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
       <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> 
     <link href="/public/style.css" rel="stylesheet" type="text/css"> 
  </head>

   <body>
      <div class="container">
        <h1>API BodyParser: Header Microservice</h1>
        <div class="well">
          User Story:
          <ol>
            <li>
               I can type "/whoami" at the end of the url and I will see my IP address, language preference, and current operating system
            </li>
           
          </ol>
        </div>
        
        <div class="example-text">
          <h3>
            Link to service:
          </h3>
            <a href="https://wg-timestamp.glitch.me/whoami" target="_blank"><code>
              https://wg-timestamp.glitch.me/whoami
            </code></a>
            
        </div>
        
        <div class="example-text">
          <h3>
            Example output:
          </h3>
            <code>
              { "IP Adress": "255.255.255.255", "Language": "en-US", "Software": Windows NT 10.0;  Win64; x64  }
            </code>
        </div>
        
      </div>
      
   </body>

</html>
